.header{
    color: black;
    font-size: 25px;
    box-shadow: 5px 5px 5px black;
}
.header:hover{
    width: 220px;
    font-size: 20px;
}
body{
    background-size: cover;
    background-position: center;
    border: 20px solid white;
}

.item {
    font-size: 20px;
    background: darkorange;
    border-radius: 100px;
    width: 250px;
    margin-top: 15px;
    color: aquamarine;
}

.item:hover {
    font-size: 25px;
    text-decoration: underline cornflowerblue ;
    font-variant: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold ;
    font-style: oblique;
    color: brown;
}

